<footer class="footer">

    <div class="container">
        <div class="content has-text-centered">
            <strong>{{@blog.title}}</strong> por
            <a href="http://brunobandeira.me" target="_blank">brunobandeira.me</a>.
        </div>
    </div>
</footer>